<!DOCTYPE html>
<head>
	<title>{{title}}</title>
		<meta charset="utf-8">
		<style>{less: github.less}</style>
		<link rel="stylesheet" href="//sindresorhus.com/github-markdown-css/github-markdown.css">
		<link rel="stylesheet" href="//highlightjs.org/static/demo/styles/github-gist.css">
		<script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$']]}});</script>
		<script type="text/javascript" async src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
	</head>
<body>
<article class="markdown-body">
{{{content}}}
<sup><hr> Served by <a href="https://www.npmjs.com/package/markserv">MarkServ</a> | PID: {{{pid}}}</sup>
</article>
</body>
